body {
    font-family:
        "Noto Sans", "DejaVu Sans", "Segoe UI Symbol", "Apple Symbols",
        "FreeSerif", sans-serif;
    font-size: 2rem;
    background-color: #302e2b;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: inline-grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(8, 4rem);
}

.square {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    align-content: center;
    color: black;
}

.light {
    background-color: #ebecd0;
}

.dark {
    background-color: #779556;
}

.possible-move {
    position: relative;
}

.possible-move::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.possible-move.light::before {
    background-color: rgba(128, 128, 128, 0.4);
}

.possible-move.dark::before {
    background-color: rgba(128, 128, 128, 0.6);
}

.last-move.light {
    background-color: #f5f580;
}

.last-move.dark {
    background-color: #b9ca42;
}

.selected.light {
    background-color: #f5f580;
}

.selected.dark {
    background-color: #b9ca42;
}

#reset {
    font-size: 2rem;
    height: 3rem;
    width: 6rem;
}

#two-player {
    height: 2rem;
    width: 2rem;
}
